---
const { href } = Astro.props
import { Icon } from "astro-icon/components"
---

<div class="absolute top-4 left-4">
    <a aria-label="Go back button" href={href}>
        <Icon name="back" class="w-7.5 h-7.5" />
    </a>
</div>