---
import { Button } from "@/components/starwind/button";
---

<section class="flex flex-col items-center my-4">
    <div id="hero-title-container" class="mx-4 mt-6 mb-3 text-center">
        <h2 class="text-[32px] font-bold">Remember all your<br>trips</h2>
    </div>
    <div id="hero-subtitle-container" class="mx-4 mt-1 mb-3 text-center">
        <p class="text-[16px] w-19/20 m-auto">Journey is a travel journal app that helps you capture and relive your adventures. Document your experiences and keep your memories alive.</p>
    </div>
    <div id="hero-button-container" class="mx-4 my-3 text-center">
        <Button variant="CTA" class="w-[132px] h-[48px]">Get Started</Button>
    </div>
</section>