---
import "@/styles/global.css";
const { title } = Astro.props;
---
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Basic Meta Tags -->
<title>{title}</title>
<meta
  name="description"
  content="An app for tracking your past trips, adding pictures and journaling."
/>
<meta name="keywords" content="keyword1, keyword2, keyword3" />
<meta name="author" content="Your Name or Company Name" />

<!-- Favicons -->
<link rel="icon" href="/icon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/icon.svg" />
<link rel="android-chrome-192x192" href="/icon.svg" />
<link rel="android-chrome-512x512" href="/icon.svg" />

<!-- Favicon for IE -->
<link rel="shortcut icon" href="/icon.svg" type="image/x-icon" />

<!-- Canonical URL -->
<link rel="canonical" href="https://appjourney.vercel.app/" />

<!-- Additional SEO -->
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<!-- Theme Color for Mobile Browsers -->
<meta name="theme-color" content="#ffffff" />

<!-- For IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />