---
import { Accordion, AccordionContent, AccordionItem, AccordionTrigger } from "@/components/starwind/accordion";
---

<section class="flex flex-col items-center h-[128px] text-center">
    <Accordion>
        <AccordionItem value="item-1" class="border-0 border-transparent">
            <AccordionTrigger>Manage Account</AccordionTrigger>
            <AccordionContent>Do you want to delete your account? Get in touch with me at <a class="text-[var(--brand-color)]" href="mailto:rafapdlc.work@gmail.com">rafapdlc.work@gmail.com</a></AccordionContent>
        </AccordionItem>
        <AccordionItem value="item-2" class="border-0 border-transparent">
            <AccordionTrigger>Privacity</AccordionTrigger>
            <AccordionContent>We don't sell any of your data! It is stored in a database and can only be accessed by you.</AccordionContent>
        </AccordionItem>
        <AccordionItem value="item-3" class="border-0 border-transparent">
            <AccordionTrigger>Help & Support</AccordionTrigger>
            <AccordionContent>Get in touch with me at <a class="text-[var(--brand-color)]" href="mailto:rafapdlc.work@gmail.com">rafapdlc.work@gmail.com</a></AccordionContent>
        </AccordionItem>
    </Accordion>
</section>