---
import { Icon } from "astro-icon/components";


---

<div class="absolute w-full flex justify-evenly bottom-0">
    <a aria-label="Home" href="/authenticated/trips">
        <Icon name="home" class="w-7.5 h-7.5" />
    </a>
    <a aria-label="Settings" href="/authenticated/">
        <Icon name="user" class="w-7.5 h-7.5" />
    </a>
</div>