---
import "/src/styles/global.css"
import 
---
<html
  lang="en"
  class="scroll-smooth selection:bg-accent-500 selection:text-white no-touchevents hydrated"
>
  <head>
  </head>
  <body class="bg-white flex flex-col min-h-svh">
    <main class="grow"><slot /></main>
  </body>
</html>